# files that shouldn't be published
*.js.map
node_modules/
npm-debug.log*

# files assumed to be on the server
public_html/game
public_html/.htaccess

# scripts for managing the server
deploy.rb
publish
