nav
  position: fixed
  left: 0
  right: 0
  height: 50px
  display: flex
  align-items: center
  justify-content: flex-start
  background-color: white
  transform: translateY(0)
  transition: transform 0.2s
  will-change: transform
  z-index: 100
  &.hidden
    transform: translateY(-50px)
  a:link, a:visited
    text-align: center
    flex-basis: 200px
    text-decoration: none
    &.external
      position: relative
      transition: transform 0.2s
      will-change: transform
      &:hover
        transform: translateX(0.5pc)
        &::after
          position: absolute
          margin-left: 8px
          content: '→'
    &.icon
      flex-basis: 32px
      margin: 1pc
    &.right
      margin-left: auto
