@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100|Source+Code+Pro:300|Lato:300,400)
@import mixins

// display the right sections
body
  display: block
  overflow-x: hidden
  font-family: 'Lato', sans-serif
  +respond-to(tablet)
    font-size: 14pt
  +respond-to(desktop)
    font-size: 16pt
    font-weight: 300
  &.loading
    overflow: hidden
    .loaded
      opacity: 0
      line-height: 0
  &.loaded .loaded
    background-image: $deep-background
    background-attachment: fixed
    opacity: 1
    transition: opacity 1.5s
footer
  background-image: $footer-background

// basic styles
@import basic
@import loader
@import heading
@import card
@import text
@import site
